/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца+
✦ card__like-button — для кнопки Like рядом с иконкой+
✦ card__icon-button — для кнопки, оборачивающей иконку+
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--gradient);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-family-main);
  font-size: var(--font-size-text);
  font-variation-settings: var(--font-weight-text);
}

.header__card {
  inline-size: var(--inline-size-block);
  block-size: var(--block-size-header);
  margin: 100px 0px clamp(6.25rem, 6.294rem + -0.1878vw, 6.125rem) 0px;
  background-color: var(--background-color-block);
  text-align: center;
  display: grid;
  align-content: center;
  justify-self: center;
  gap: 20px;
  font-family: var(--font-family-accent);
  border: var(--border-standart);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.cards {
  width: var(--inline-size-block);
  display: grid;
  justify-self: center;
  gap: 49px;
}

.card {
  background-color: white;
  border: var(--border-standart);
  display: grid;
}

.card__title {
  font-size: var(--font-size-text);
  font-variation-settings: var(--font-weight-title);
  padding: 5px 12px;
}

.card__block-with-image {
  position: relative;
}

.card__image {
  border-bottom: var(--border-standart);
  border-top: var(--border-standart);
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
  box-sizing: content-box;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-family-accent);
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  color: var(--accent-color);
  text-shadow:
    1px 0 var(--color-label-shadow),
    -1px 0 var(--color-label-shadow),
    0 -1px var(--color-label-shadow),
    0 1px var(--color-label-shadow);
}

@supports (-webkit-text-stroke: 1px var(--color-label-shadow)) {
  .card__label {
    -webkit-text-stroke: 1px var(--color-label-shadow);
    text-shadow: none;
  }
}

.card__text {
  padding: 24px 26px 0 25px;
  font-weight: var(--font-weight-text);
  line-height: 21px;
}

.button-like {
  display: flex;
  justify-self: end;
  align-items: center;
  margin: 25px 25px 27px 0;
  /* padding: 0; */
}

.card__icon-button {
  block-size: 36px;
  border: none;
  background-color: transparent;
}

.card__icon-button:focus-visible {
  outline: none;
}

.card__icon-button:focus-visible .like-icon {
  outline: 2px solid #000;
  transition: outline 0.3s ease;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  font-family: var(--font-family-accent);
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-button);
  border: var(--border-standart);
  /* padding: 0; */
}

.button-save {
  inline-size: 306px;
  block-size: 84px;
  margin-bottom: 100px;
  display: grid;
  justify-self: center;
  /* align-items: center; */
  gap: 8px;
  border: var(--border-standart);
  padding: 0;
}

.button-save__icon {
  inline-size: 28px;
  /* height: 28px; */
  justify-self: center;
  align-self: end;
  position: relative;
  z-index: 2;
}

.button-save__text {
  /* align-self: start; */
  font-family: var(--font-family-accent);
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-button);
}

.filter-blur {
  filter: blur(5px);
}

.filter-contrast {
  filter: contrast(110%);
}

.filter-brightness {
  filter: brightness(130%);
}

.filter-greyscale {
  filter: grayscale(0.8);
}

.filter-saturate {
  filter: saturate(138%);
}

.filter-hue-rotate {
  filter: hue-rotate(-90deg);
}

.filter-sepia {
  filter: sepia(50%);
}

.filter-drop-shadow-brightness {
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.8)) brightness(0.8);
}

@media (width>=700px) {
  .button-save {
    inline-size: 335px;
    block-size: 55px;
    display: flex;
    /* align-items: center; */
  }

  .button-save__icon {
    inline-size: 21px;
    /* height: 21px; */
    margin-left: 20px;
    align-self: center;
  }

  .button-save__text {
    align-self: center;
  }
}

.dialog-window {
  inline-size: 341px;
  block-size: 191px;
  padding: 0;
  border: none;
  outline: var(--border-standart);
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-button);
}

.dialog-window__content {
  display: grid;
  padding: 30px 40px;
  grid-template-rows: 1fr 38px;
  gap: 30px;
}

@media (width>=700px) {
  .dialog-window {
    inline-size: 353px;
  }
  .dialog-window__content {
    padding: 30px 30px;
  }
}

.dialog-window__content-up {
  display: grid;
  grid-template-columns: 39px 1fr;
  grid-template-rows: 63px;
  gap: 20px;
}

.dialog-window__content-up-text {
  font-family: var(--font-family-accent);
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog-window__content-up-icon {
  inline-size: 39px;
  /* height: 39px; */
  align-self: center;
  /* position: relative;
  z-index: 2; */
}

.dialog-window__button {
  padding: 0;
  font-family: var(--font-family-accent);
  line-height: 0.9;
  text-transform: uppercase;
  border: var(--border-standart);
}

.dialog-window::backdrop {
  background-color: rgb(0 0 0/0.75);
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button:hover {
  cursor: pointer;
}

.button {
  position: relative;
  z-index: 1;
  background-color: var(--background-color-block);
}

.button::after {
  content: "";
  display: block;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::after {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
}

.button__text {
  position: relative;
  z-index: 2;
}

.button .button__text {
  mix-blend-mode: difference;
  color: #fff;
}

.button .button-save__icon {
  --accent-color: #fff;
  mix-blend-mode: difference;
}

.like-icon__main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon__core {
  fill: transparent;
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.like-icon__sparks {
  opacity: 0;
}

.like-icon__contour {
  transition: fill 0.1s linear;
}

.like-icon:hover .like-icon__core {
  fill: var(--accent-color);
  transition-delay: 0s;
}

.like-icon:hover .like-icon__main-body {
  fill: var(--accent-color);
  transition-delay: 0.05s;
}

.like-icon:active .like-icon__core {
  fill: var(--color-fill-animation);
  transition-delay: 0s;
}

.like-icon:active .like-icon__main-body {
  fill: var(--color-fill-animation);
  transition-delay: 0.05s;
}

.like-icon.is-liked .like-icon__core {
  fill: var(--color-fill-animation);
  transition-delay: 0s;
}
.like-icon.is-liked .like-icon__main-body {
  fill: var(--color-fill-animation);
  transition-delay: 0.05s;
}
.like-icon.is-liked .like-icon__contour {
  fill: var(--color-fill-animation);
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.like-icon.is-liked .like-icon__heart {
  transform-origin: center;
  animation: scale-heart 0.3s 0.1s ease-in backwards;
}

.like-icon.is-liked .like-icon__sparks {
  transform-origin: center;
  animation: scale-sparks 0.3s 0.3s ease-in backwards;
}
