/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца+
✦ card__like-button — для кнопки Like рядом с иконкой+
✦ card__icon-button — для кнопки, оборачивающей иконку+
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 3px 5px), repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 3px 5px), linear-gradient(#e7e7e7, #1a1a1a);
  background-size: cover;
  font-family: var(--font-family-main);
  font-size: 14px;
  font-weight: 400;

} 

.header__card {
  width: var(--width-block);
  height: 327px;
  margin: 100px 0px;
  background-color: #fff;
  text-align: center;
  display: grid;
  align-content: center;
  justify-self: center;
  gap: 20px;
  font-family: var(--font-family-accent);
  border: 2px solid #000;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header__subtitle {
  /* font-size: clamp(0.875rem, 0.4013rem + 2.3684vw, 1.4375rem); */
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.cards {
  width: var(--width-block);
  display: grid;
  justify-self: center;
  gap: 50px;
}

.card {
  background-color: white;
  border: 2px solid #000;
}

.card__title {
  font-size: 18px;
  font-weight: 715px;
  padding: 5px 12px;
}

.card__block-with-image {
  position: relative;
}

.card__image {
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
  /* width: 100%;
  height: 100%; */
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-family-accent);
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  color: rgb(0 0 0/0.5);
  text-shadow: 1px 0 var(--color-label-shadow), -1px 0 var(--color-label-shadow), 0 -1px var(--color-label-shadow), 0 1px var(--color-label-shadow); 
}

@supports ((-webkit-text-stroke: 1px var(--color-label-shadow))) {
  .card__label {
    -webkit-text-stroke: 1px var(--color-label-shadow);
    text-shadow: none;
  }
}

 .card__text {
  padding: 26px 26px 0 26px;
  font-weight: 410px;
  line-height: 21px;
  font-size: 18px;
 }

 .button-like {
  /* inline-size: 169px;
  block-size: 38px; */
  display: flex;
  justify-self: end;
  align-items: center;
  /* justify-content: space-between; */
  margin: 25px 25px 25px 0;
  padding: 0;
}

.card__icon-button {
  /* inline-size: 27px; */
  block-size: 38px;
  border: none;
  background-color: transparent;
  padding: 7px 12px 7px 0;
}

.card__like-button {
  width: 130px;
  height: 35px;
  /* margin-left: 12px; */
  font-family: var(--font-family-accent);
  outline: 2px solid #000;
  padding: 0;
  border: none;
  background-color: transparent;
}

.button-save {
  inline-size: 306px;
  /* inline-size: clamp(19.125rem, 0rem + 100vw, 20.9375rem); */
  block-size: 84px;
  margin-bottom: 91px;
  display: grid;
  justify-self: center;
  align-items: center;
  gap: 8px;
  border: 2px solid #000;
  padding: 0;
}

.button-save__icon {
  width: 28px;
  height: 28px;
  justify-self: center;
  align-self: end;
}

.button-save__text {
  align-self: start;
  font-family: var(--font-family-accent);
}

.filter-blur {
  filter: blur(5px);
}

.filter-contrast {
    filter: contrast(110%);
} 

.filter-brightness {
  filter: brightness(130%);
}

.filter-greyscale {
  filter: grayscale(0.8);
}

.filter-saturate {
  filter: saturate(138%);
}

.filter-hue-rotate {
  filter: hue-rotate(-90deg);
}

.filter-sepia {
  filter: sepia(50%);
}

.filter-drop-shadow-brightness {
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.8)) brightness(0.8);
}

@media (width>=700px) {
.button-save {
  inline-size: 335px;
  block-size: 55px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
}

.button-save__icon {
  width: 21px;
  height: 21px;
  margin-left: 20px;
  align-self: center; 
}

.button-save__text {
  align-self: center;
}
}

.dialog-window {
  inline-size: 341px;
  block-size: 191px;
  padding: 0;
  border: none;
  outline: 2px solid #000;
}

@media (width>=700px) {
  .dialog-window {
  inline-size: 353px;}
  .dialog-window__content {
  padding: 30px 30px;
}}

.dialog-window__content {
  display: grid;
  padding: 30px 40px;
  grid-template-rows: 1fr 38px;
  gap: 30px;
}

.dialog-window__content-up {
  display: grid;
  grid-template-columns: 39px 1fr;
  grid-template-rows: 63px;
  gap: 20px;
}

.dialog-window__content-up-text {
  font-family: var(--font-family-accent);
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog-window__content-up-icon {
  width: 39px;
  height: 39px;
  align-self: center; 
}

.dialog-window__button {
  padding: 0;
  font-family: var(--font-family-accent);
  line-height: 0.9;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #000;
}

.dialog-window::backdrop {
  background-color: rgb(0 0 0/0.75);
}