/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family-main: 'Inter-Variable', sans-serif;
  --font-family-accent: 'PressStart2P-Regular', sans-serif;
  --width-block: clamp(20rem, 0rem + 100vw, 43.75rem);
  --color-label-shadow: rgb(250 250 250/0.5);
  --accent-color: #000;
  --border-standart: 2px solid #000;
  --color-contour: #000;
  --color-fill-animation: #FF0000;
  --color-sparkles: #FF0000;
}