/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family-main: "Inter-Variable", sans-serif;
  --font-family-accent: "PressStart2P-Regular", Courier;
  --gradient:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0%, #e7e7e7 10%, #1a1a1a 100%);
  --inline-size-block: clamp(20rem, 0rem + 100vw, 43.75rem);
  --block-size-header: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
  --background-color-block: #fff;
  --border-standart: 2px solid #000;
  --color-label-shadow: #fff;
  --accent-color: #000;
  --color-contour: #000;
  --color-fill-animation: #ff0000;
  --color-sparkles: #ff0000;
  --font-weight-title: "wght" 715;
  --font-weight-text: "wght" 410;
  --font-size-text: 18px;
  --font-size-button: 14px;
  --font-weight-button: 400;
}
